
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row{
  width: 900px;
  height: 600px;
  align-content: center;
}

.canvas{
  width: 900px;
  height: 600px;
}


